<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorldWordApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <WorldWordApp.Properties.Settings>
            <setting name="Ip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>1294</value>
            </setting>
            <setting name="NameOfDB" serializeAs="String">
                <value>game</value>
            </setting>
        </WorldWordApp.Properties.Settings>
    </applicationSettings>
</configuration>